@model IEnumerable<StunduSaraksts.ModelsDB.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Paziņojumi</h1>

<table class="table">
    <thead>
        <tr class="row">
            <th class="col-sm-2">
                Datums
            </th>
            <th class="col-sm-10">
                Paziņojums
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToList().Where(i => i.Recipient.Equals(((StunduSaraksts.ModelsDB.AspNetUser)ViewData["user"]).Id)).OrderByDescending(i => i.SentTime).Select(i => i)) {
        <tr class="row">
            <td class="col-sm-2">
                @item.SentTime.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td class="col-sm-10">
                @Html.DisplayFor(modelItem => item.ContentNavigation.Text)
            </td>
        </tr>
}
    </tbody>
</table>
