@model StunduSaraksts.Models.ConsultationForm

@{
    ViewData["Title"] = "Create";
}

<h1>Konsultācija</h1>

<h4>Izveidot</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMessage != null)
        {
        <div class="alert alert-danger">
            <p>@ViewBag.ErrorMessage</p>
        </div>
        }
        else
        {
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--
    <div class="form-group">
        <label asp-for="Teacher" class="control-label"></label>
        <select asp-for="Teacher" class ="form-control" asp-items="ViewBag.Teachers"></select>
    </div>
    <div class="form-group row">
        <label asp-for="Date" class="control-label col-sm-2 col-form-label">Datums</label>
        <div class="col-sm-10">
            <input asp-for="Date" type="date" class="form-control" />
        </div>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    -->

        <div class="form-group row">
            <label asp-for="Date" class="control-label col-sm-2 col-form-label">Datums</label>
            <div class="col-sm-10">
                <input asp-for="Date" type="date" class="form-control" />
            </div>
            <span asp-validation-for="Date" class="text-danger"></span>

        </div>
        <div class="form-group row">
            <label asp-for="StartTime" class="control-label col-sm-2 col-form-label">Sākuma laiks</label>
            <div class="col-sm-10">
                <input asp-for="StartTime" type="time" class="form-control" />
            </div>
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="EndTime" class="control-label col-sm-2 col-form-label">Beigu laiks</label>
            <div class="col-sm-10">
                <input asp-for="EndTime" type="time" class="form-control" />
            </div>
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="isOnline" class="control-label col-sm-2 col-form-label">Attālināti</label>
            <div class="col-sm-10">
                <input id="isOnline" asp-for="isOnline" onclick="toggleVisibility()">
            </div>
        </div>
        <div id="RoomForm" class="form-group row">
            <label asp-for="Room" class="control-label col-sm-2 col-form-label">Kabineta nr.</label>
            <div class="col-sm-10">
                <select asp-for="Room" class="form-control" asp-items="ViewBag.Rooms"></select>
            </div>
            <span asp-validation-for="Room" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Comment" class="control-label col-sm-2 col-form-label">Apraksts</label>
            <div class="col-sm-10">
                <textarea asp-for="Comment" class="form-control"></textarea>
            </div>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="form-group col-sm-10">
                <input type="submit" value="Izveidot" class="btn btn-primary" />
                <button class="float-right btn btn-primary" asp-action="Index">Atcelt</button>
            </div>
        </div>

    </form>
        }
    </div>
</div>

<script>
    window.onload = function () {
        toggleVisibility();
    };

    function toggleVisibility() {
        var checkBox = document.getElementById("isOnline");
        //var roomForm = document.getElementById("RoomForm");
        if (checkBox.checked == true) {
            //roomForm.style.display = "none";
            $('#RoomForm').hide();
        } else {
            $('#RoomForm').show();
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
